body {
    margin: 1 auto;
    /* max-width: 90%; */
    font-family: "Courier New", "Helvetica", "Arial", sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    margin-left: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    height: 150px;
    text-align: left;
    vertical-align: top;
}

.mode {
    border: 1px solid black;
    width: 10%;
    float:right;
}

.mode th{
    border: 1px solid black;
}

nav li {
    display: inline;
}
