body {
    /* margin: 0 auto; */
    /* max-width: 50em; */
    fontfamily: "Helvetica", "Arial", sans-serif;
}

h1 {
    text-align: center;
}

table, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-left: auto;
}

td {
    border: 1px solid black;
    height: 150px;
    text-align: left;
    vertical-align: top;
}

/* #mode { */
/*     float:right; */
/* } */

/* #month { */
/*     flex-wrap: wrap; */
/*     justify-content: center; */
/* } */

nav li {
    display: inline;
}
